
li {
    color: white;
    text-align: justify;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;

}

    li {
      color: white;
      text-align: justify;
      font-size: 28px;
      font-family: 'Roboto', sans-serif;
  
  }

  @media screen and(min-width: 576px)
  {
    .table
    {
      float: left;
      width: auto;
    }
  }
  @media screen and(min-width: 1200px)
  {
    .table
    {
      width: 25%;
    }
  }