
li {
    color: white;
    text-align: justify;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;

}

    li {
      color: white;
      text-align: justify;
      font-size: 28px;
      font-family: 'Roboto', sans-serif;
  
  }
  @media (max-width: 768px) {
    #table {
        display: block;
        text-align: center;
    }
    #table td {
        display: block;
        margin-bottom: 10px;
    }
    .main1 ul {
        margin-left: 0;
        text-align: left;
    }
}