
li {
    color: white;
    text-align: justify;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;

}

  
  @media only screen and (min-width: 815px) {
    .table  {
      width: 50%;
      height: 100px;
    }
    li {
      color: white;
      text-align: justify;
      font-size: 28px;
      font-family: 'Roboto', sans-serif;
  
  }
  }